{
    "presets": [
        ["env",{
            "targets": {
                "browsers": ["IE >= 9"]
            },
            "useBuiltIns": true
        }],
        "react",
        "stage-2"
    ],
    "plugins": [["import", {
        "libraryName": "antd-mobile",
        "style": true   // or 'css'
      } ]]
}
