.write{
    .interpret{
        position: fixed;
        top: 0;
        width: 375px;
        height: 120px;
        background-color: aqua;
    }
    .input{
        position: fixed;
        top: 120px;
    }
}